upstream/**/*
oci/common/dex/overlays/idcs/config.yaml
oci/common/istio/kubeflow-istio-resources/overlays/letsencrypt-dns01/kubeflow-gw.Certificate.yaml
oci/common/istio/kubeflow-istio-resources/overlays/letsencrypt-dns01/letsencrypt.ClusterIssuer.yaml
oci/common/istio/kubeflow-istio-resources/overlays/letsencrypt-http01/kubeflow-gw.Certificate.yaml
oci/common/istio/kubeflow-istio-resources/overlays/letsencrypt-http01/letsencrypt.ClusterIssuer.yaml
oci/common/oidc-authservice/overlays/idcs/params.env
oci/apps/pipeline/oci-object-storage/config
oci/apps/kserve/domain/config-domain.yaml
oci/apps/pipeline/mds-external-mysql/mysql.env
oci/apps/pipeline/mds-external-mysql/mysql.Service.yaml
oci/apps/pipeline/oci-object-storage/minio.env
oci/apps/pipeline/oci-object-storage/params.env
output
kubeflow.env
oci/profile/*.Profile.yaml
__pycache__
params.env
