# KubeFlow Admin Info
export ADMIN_EMAIL="xxx@xxx.com"

# Site Domain Name
export DOMAIN_NAME="mykubeflow.com"

# IDCS setup
export IDCS_URL="https://idcs-xxxxxxxx.identity.oraclecloud.com"
export IDCS_CLIENT_ID="f0xxxxxxxxxxxx"
export IDCS_CLIENT_SECRET="xxxxxxx-xxxxxxx-xxxx-xxxxx-xxxxxx"

# Object Storage info
export REGION="us-sanjose-1"
export BUCKET="xyz-kubeflow-metadata"
export OSNAMESPACE="mytenancynamespace"

export ACCESSKEY="12345676543234567654323"
export SECRETKEY="zxcxzxcvxzxcxzcxzxcxcxz"

# external MySQL DB info: this is the kubeflow user created by system/admin user
export DBUSER="kubeflow"
export DBPASS="asdfdsWERE[]@23432"
export DBHOST="mysql.mysubnet.mycluster.oraclevcn.com"
export DBPORT="3306"
