{
    containerRuntimeExecutor: pns,
    artifactRepository: {
        s3: {
            bucket: ${OCI_KUBEFLOW_OBJECT_STORAGE_BUCKET},
            keyPrefix: artifacts,
            endpoint: ${OCI_KUBEFLOW_OBJECT_STORAGE_NAMESPACE}.compat.objectstorage.${OCI_KUBEFLOW_OBJECT_STORAGE_REGION}.oraclecloud.com,
            region: ${OCI_KUBEFLOW_OBJECT_STORAGE_REGION},
            insecure: false,
            accessKeySecret: {
                name: mlpipeline-minio-artifact,
                key: accesskey
            },
            secretKeySecret: {
                name: mlpipeline-minio-artifact,
                key: secretkey
            },
            keyFormat: \"artifacts/{{workflow.namespace}}/{{workflow.name}}/{{pod.name}}\"
        },
        archiveLogs: true
    }
}
